img{
    width: 30%;
    margin: calc(9%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    font-size: 1.5em;
    width: 30%;
    margin-left: calc(9%/6);
    padding: 1.2em 0;
    font-weight: bold;
}